footer {
    padding: 40px 0 100px 0;
    background-color: #0a58ca;
}
.justify-content-center {
    justify-content: center!important;
}
footer .copyrights {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    margin-top: 10px;
}
footer .nav-link.active {
    color: #fff;
    border-bottom: 1px solid #666;
}
footer .nav-link {
    color: rgba(255, 255, 255, 0.75);
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
}
.container, .container-sm {
    max-width: 540px;
}
div {
    display: block;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
