<main class='about'>
        
    <div class='pg-header'>
    <div class='container'>
    <nav aria-label="breadcrumb">
    
    <ol class="breadcrumb justify-content-end">
    <!-- {/* <li class="breadcrumb-item"><Link to="index element">Home</Link></li> */} -->
    <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
    
    </nav>
    <h1> About </h1>
    </div>
    </div>
    
    <div class='container-content'>
        <div class='row'>
    <div class='col-lg-4'>
    <h2> Why Choose Us</h2>
    <p> we are awesome </p>
    </div>
    
    <div class='col-lg-4'>
    <h2> Our Mission.</h2>
    <p> we are awesome </p>
    </div>
    <div class='col-lg-4'>
    <h2> What We Do.</h2>
    <p> we are awesome ajkhqsdjdhqjdhqkjsdhkqsjh
        dkqshdkqjhdkjqhdkjqshdkjqh
        dkjqh </p>
    </div>
    
        </div>
    </div>
        </main>